<p id="notice"><%= notice %></p>

<p>
  <b>First:</b>
  <%= @person.first %>
</p>

<p>
  <b>Last:</b>
  <%= @person.last %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
